/* @media (min-width: 320px) and (max-width: 480px) { 
    .caption{
        padding: 0 40px;
    }
    .caption-heading{
        font-size: 2em;
        line-height: 1.4em;
    }
    .section-title{
        font-size: 1.6em;
    }
    .foot-bottom-text,
    .footer .content-right{
        text-align: center;
    }
} */